.contact p{
  margin: 0;
}
.contact{
  display: flex;
  justify-content: space-between;
  background-color: rgb(2, 4, 74);
  height: 500px;
  padding-right: 60px;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 300px;

}
.contact-form{
  position: relative;
  max-height: 490px;
  min-width: 350px;
  background-color: rgb(249, 249, 251);
  margin-right: 70px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px black;
}
.contact-form p{
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 5px;
  font-weight: 700;
  font-family: sans-serif;
}
.contact-form input{
  width: 270px;
  padding: 5px;
  border-width: 1px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px black;
}
.contact-form textarea{
  width: 270px;
  height: 100px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px black;
}
.contact-form input:hover{
  border-color: rgb(12, 117, 253);
  box-shadow: 2px 2px 4px rgb(12, 117, 253);
}
.contact-form textarea:hover{
  border-color: rgb(12, 117, 253);
  box-shadow: 2px 2px 4px rgb(12, 117, 253);
}
.contact-form input:focus{
  box-shadow: 2px 2px 4px blueviolet;
}
.contact-form textarea:focus{
  box-shadow: 2px 2px 4px blueviolet;

}
.right-contact{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 40px;
}
.touch{
  display: flex;
  flex-direction: column;
}

.contact-links p {
  color: rgb(250, 252, 254);
}
.contact a{
  color: rgb(250, 252, 254);
}
.touch a {
  padding: 8px;
  border-width: 0.3px;
  border-radius: 5px;
  border-color: rgb(12, 117, 253);
  max-width: 230px;
}
.i-b{
  color: rgb(12, 117, 253);
}
.touch a:hover{
  border-style: solid;
  box-shadow: 2px 2px 4px rgb(12, 117, 253);
}
.he1{
  font-size: 50px;
  padding-bottom: 30px;
  font-weight: 700;
  font-family: sans-serif;
}
.dis{
  max-width: 500px;
  text-align: justify;
}
.social-links{
  display: flex;
  justify-content:flex-start;
}
.social-links i{
  margin: 25px;
  padding: 10px;
  border-radius: 20px;
  transition: transform .2s;
}
.social-links i:hover{
  background-color: rgb(12, 117, 253);
  transform: scale(1.3);

}
.fa-facebook-f{
  border-radius: 40px;
}
.btn{
  position: absolute;
  color: white;
  background-color: rgb(12, 117, 253);
  border: none;
  border-radius: 7px;
  width: 170px;
  padding: 10px;
  bottom: 50px;
  right: 120px;
  box-shadow: 2px 2px 4px black;
  transition: transform 0.2s;
}
.btn:hover{
  background-color: blue;
  transform: scale(1.1);
}
