
.logo{
  display: inline-block;
  margin-left: 48px;
  font-size: 40px;
  
}
.acc{
  margin-right: 48px;
}
.logo,.acce,.cloth,.about{
  color: black;
}

.header{
  margin: 0;
  background-color: rgb(240, 240, 229);
  display:flex;
  justify-content: space-between;
  align-items: center;
  /*margin-top: 1rem;*/
  padding-bottom: 1rem;
  padding-top: 1rem;
  border: 0;
  border-bottom: 1px;
  border-style: solid;
}

.left-header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-items: center;
  gap: 2rem;
}
#search{
  width: 35em;
  height: 3em;
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
}
.middle-header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}
.right-header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}
.header{
  position: sticky;
  top: 0px;
}


